textarea {
    background-color: #1c1a1c;
    color: rgb(232, 231, 231);
    font-family: Consolas, monaco, monospace;
    padding: 1.5rem 3rem;
}

.textbox_container {
    background-color: #1c1a1c;
}

.existing_presentation {
    background-color: #242325;
    color: rgb(232, 231, 231);
    animation-duration: 1s;
    animation-name: slide_right;
}

.button,
.input {
    color: rgb(232, 231, 231);
    border-left: 1px solid rgb(232, 231, 231);
    font-family: Consolas, monaco, monospace;
    background-color: #131113;
}

.button:hover,
.input:hover {
    filter: invert(0.85);
}

.icon {
    filter: invert(1);
}

.slide {
    margin: 0.5rem 0;
    font-family: Consolas, monaco, monospace;
}

.pane {
    background-color: #131113;
}

.button:first-of-type {
    border-left: none;
}

.slide_deck {
    background-color: #131113;
}

.presenter {
    background-color: #131113;
}

.presenter_slide_container {
    width: 100%;
    height: min-content;
}

.slide_deck::-webkit-scrollbar {
    display: none;
}

@keyframes slide_right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slide_down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slide_up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slide_left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slide_diagonally_from_top_left {
    from {
        transform: translate(-100%, -100%);
    }
    to {
        transform: translate(0%, 0%);
    }
}

@keyframes slide_diagonally_from_bottom_right {
    from {
        transform: translate(100%, 100%);
    }
    to {
        transform: translate(0%, 0%);
    }
}
