textarea {
    background-color: #1c1a1c;
    color: rgb(232, 231, 231);
    font-family: Consolas, monaco, monospace;
    padding: 1.5rem 4rem;
}

.slide {
    margin: 0.5rem 0 0.5rem 0;
}

.slide_deck {
    background-color: #1c1a1c;
}

.slide_deck::-webkit-scrollbar {
    display: none;
}
