textarea {
    background-color: #1c1a1c;
    color: rgb(232, 231, 231);
    font-family: Consolas, monaco, monospace;
    padding: 1.5rem 3rem;
}

.button {
    color: rgb(232, 231, 231);
    border: 1px solid rgb(232, 231, 231);
    background-color: #1c1a1c;
    border-radius: 5px;
}

.slide {
    margin: 0.5rem 0;
}

.pane {
    background-color: #131113;
}

.slide_deck {
    background-color: #131113;
}

.slide_deck::-webkit-scrollbar {
    display: none;
}
